{extend name="common/base" /}

{block name="header"}
<link rel="stylesheet" href="__HUI__lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
{/block}
{block name="content"}
<section class="Hui-article-box form-list" >
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理员
		<span class="c-gray en">&gt;</span>
		权限管理
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<article class="page-container " >

	    <div class="Huialert Huialert-danger data-tip"><i class="Hui-iconfont">&#xe6a6;</i><font></font></div>

		<form class="form form-horizontal data-form" id="form-article-add" data-url="<?=url()?>">
			<input type="hidden" name="id" value="<?=$info['id']?>">

			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>上级ID：</label>
				<div class="formControls col-xs-12 col-sm-9">
					<input type="text" class="input-text" value="<?=$info['pid']?>" placeholder="" id="" name="pid">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>标题：</label>
				<div class="formControls col-xs-12 col-sm-9">
					<input type="text" class="input-text" value="<?=$info['title']?>" placeholder="" id="" name="title">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>规则标识：</label>
				<div class="formControls col-xs-12 col-sm-9">
					<input type="text" class="input-text" value="<?=$info['name']?>" placeholder="" id="" name="name">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2">规则表达式：</label>
				<div class="formControls col-xs-12 col-sm-9">
					<input type="text" class="input-text" value="<?=$info['condition']?>" placeholder="" id="" name="condition">
					<p>为空表示存在就验证，不为空表示按照条件验证</p>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2">字体图标：</label>
				<div class="formControls col-xs-12 col-sm-9">
					<input type="text" class="input-text" value="<?=$info['icon']?>" placeholder="" id="" name="icon">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>排序：</label>
				<div class="formControls col-xs-12 col-sm-9">
					<input type="text" class="input-text" value="<?=$info['sort']?>" placeholder="" id="" name="sort">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>是否为菜单：</label>
				<div class="formControls col-xs-12 col-sm-9 skin-minimal">
					<div class="radio-box">
						<input type="radio" id="sex-1" name="is_menu" value='1' checked>
						<label for="sex-1">是</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="sex-2" name="is_menu" value='0'>
						<label for="sex-2">否</label>
					</div>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-12 col-sm-2"><span class="c-red">*</span>状态：</label>
				<div class="formControls col-xs-12 col-sm-9"> <span class="select-box">
					<select name="status" class="select">
						<option value="1">启用</option>
						<option value="0">禁用</option>
						<option value="-1">删除</option>
					</select>
					</span> 
				</div>
			</div>
			
		</form>
		<br>
		<div class="row cl">
			
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius do-form" ><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button class="btn btn-success radius" onclick="window.location.href='<?=url('index')?>'" ><i class="Hui-iconfont">&#xe678;</i> 返回</button>
			</div>
		</div>
		
	</article>
</section>
{/block}


{block name="footer"}

<script type="text/javascript">
	$(function(){
		$("input[name='is_menu'][value='<?=$info['is_menu']?>']").prop("checked", "checked");
		$("select[name='status']").val("<?=$info['status']?>");
	});
</script>
{/block}